{% extends "layout.html" %}

{% block content %}
<div class="row pt-5"> 
    <div class="col-sm-3 col-6">
        <img src="{{profile.image}}" alt="{{profile.name}}" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-sm-3 col-6 d-flex flex-column justify-content-between"> 
        <h1 class="h3">{{profile.name}}</h1>
        <p class="lead"><strong>Espécie: </strong>{{ profile.species }}</p>
        <p class="lead"><strong>Gênero: </strong>{{ profile.gender }}</p>
        <p class="lead">
            <strong>Localização: </strong>
            <a href="{{ url_for('get_location', id=profile.location.url.split('/')[-1]) }}">
                {{ profile.location.name }}
            </a>
        </p>
        <p class="lead">
            <strong>Origem: </strong>
            <a href="{{ url_for('get_location', id=profile.origin.url.split('/')[-1]) }}">
                {{ profile.origin.name }}
            </a>
        </p>
    </div> 
</div>

<div>
    <h3 class="h4 mb-4">Episódios em que {{ profile.name }} aparece:</h3>
    <ul class="list-unstyled">
        {% for episode_url in profile.episode %}
        <li>
            <a href="{{ url_for('get_episode', id=episode_url.split('/')[-1]) }}">
                Episódio {{ episode_url.split('/')[-1] }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
